PATH_add node_modules/.bin/
PATH_add app/node_modules/.bin/

export PORT=8889
export DATABASE_URL=postgres://192.168.1.75:5442/api_template
export BASE_URL=http://192.168.1.75:8889
export CLIENT_APP_URL=http://localhost:3000
export AUTH0_CALLBACK_URL=http://localhost:8889/callback

